*{
    margin:0;
    padding:0;
}
main{
    width: 1200px;
    max-width: 90%;
    margin:0 auto;
    
}
.top-player, .blog {
    display: grid;

    grid-gap: 30px;
    margin-top: 20px;
   }
.top-player{
    grid-template-columns: repeat(3, 1fr);
  } 
.blog{
    grid-template-columns: repeat(2, 1fr);
  }
.player, .blog{
    display: flex;
    align-items: center;
}
.top-player img{
    height: 50px;
    margin-right: 20px;

}
.thumbnail img{
    width: 200px;
    margin-right: 20px;

}
@media (max-width:992px){
    .top-player{
    
     grid-template-columns: repeat(2, 1fr);
  
  
    }
}
@media (max-width:668px){
    .top-player{
    
     grid-template-columns: repeat(2, 1fr);
     
    .blog{
         display: block;
     }
  
  
    }
 }