.top-player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;


}
.playe{
    display: flex;
    align-items: center;
}
.top-player img{
    height: 50px;
    margin-right: 20px;

}